<%- include('header'); -%>
<body>
    <div class="container">
   <h2>Thank you, <%= course.courseName %> added successfully.</h2>
   <P> Course ID:  <%= course.courseId %> </P>
   <P> Course Name:  <%= course.courseName %> </P>
   <P> Course Description:  <%= course.courseDescription %> </P>   
   <P> Start Date:  <%= course.startDate %> </P>  
   <P> End Date:  <%= course.endDate %> </P>  
   <P> Owner:  <%= course.owner %> </P>

</div>
<%- include('footer'); -%>