<%- include('header'); -%>
<body>
  <div class="container">
    <h2><%= course.courseName %> Details</h2>
    <p><b> Course ID: </b> <%= course.courseId %></p>
    <P> Course Name: <%= course.courseName %> </P>
    <p>Module:<%= course.module %></p>
    <P> Course Description: <%= course.courseDescription %> </P>
    <P> Start Date: <%= course.startDate %> </P>
    <P> End Date: <%= course.endDate %> </P>
    <P> Owner: <%= course.owner %> </P>
  </div>
  <%- include('footer'); -%>
</body>
